<a href="https://www.kaggle.com/code/dalepeh/mcu-dashboard?scriptVersionId=115928460" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [452]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mcu-movies-dataset/rating.csv
/kaggle/input/mcu-movies-dataset/box_office.csv
/kaggle/input/mcu-movies-dataset/creators.csv

# Import Libraries

In [453]:
import pandas as pd
import numpy as np

# Load Data

In [454]:
BOX_OFFICE = pd.read_csv('/kaggle/input/mcu-movies-dataset/box_office.csv')
RATING = pd.read_csv('/kaggle/input/mcu-movies-dataset/rating.csv')

## Data Cleaning

**1. BOX_OFFICE**

In [455]:
BOX_OFFICE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Phase                               30 non-null     object
 1   Film                                30 non-null     object
 2   U.S. release date                   30 non-null     object
 3   Box office gross U.S. and Canada    30 non-null     int64
 4   Box office gross Other territories  30 non-null     int64
 5   Box office gross Worldwide          30 non-null     int64
 6   All-time ranking U.S. and Canada    30 non-null     int64
 7   All-time ranking Worldwide          30 non-null     int64
 8   Budget                              30 non-null     object
dtypes: int64(5), object(4)
memory usage: 2.2+ KB

In [456]:
# rename columns
BOX_OFFICE.rename(columns={'U.S. release date': 'Release Date',
                           'Box office gross U.S. and Canada': 'North America Box Office',
                           'Box office gross Other territories': 'Other Countries Box Office', 
                           'Box office gross Worldwide': 'Worldwide Box Office',
                           'All-time ranking U.S. and Canada': 'Ranking US',
                           'All-time ranking Worldwide': 'Ranking Worldwide'}, 
                      inplace=True)

In [457]:
#remove '$' and replace 'million' with '000000'
BOX_OFFICE['Budget'] = BOX_OFFICE['Budget'].str.replace('$', '', regex=True)

# remove 'space'
BOX_OFFICE['Budget'] = BOX_OFFICE['Budget'].str.replace('\s+', '', regex=True)

#remove million
BOX_OFFICE['Budget'] = BOX_OFFICE['Budget'].str.replace('million', '000000', regex=True)

#change 'Budget' column to numeric
BOX_OFFICE['Budget'] = pd.to_numeric(BOX_OFFICE['Budget'])

In [458]:
#change 'date' column to datetime series

BOX_OFFICE['Release Date'] = pd.to_datetime(BOX_OFFICE['Release Date'])

In [459]:
BOX_OFFICE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Phase                       30 non-null     object
 1   Film                        30 non-null     object
 2   Release Date                30 non-null     datetime64[ns]
 3   North America Box Office    30 non-null     int64
 4   Other Countries Box Office  30 non-null     int64
 5   Worldwide Box Office        30 non-null     int64
 6   Ranking US                  30 non-null     int64
 7   Ranking Worldwide           30 non-null     int64
 8   Budget                      30 non-null     int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 2.2+ KB

In [460]:
BOX_OFFICE.head(5)

,Phase,Film,Release Date,North America Box Office,Other Countries Box Office,Worldwide Box Office,Ranking US,Ranking Worldwide,Budget
0,Phase One,Iron Man,2008-05-02,319034126,266762121,585796247,79,176,140000000
1,Phase One,The Incredible Hulk,2008-06-13,134806913,129964083,264770996,465,593,150000000
2,Phase One,Iron Man 2,2010-05-07,312433331,311500000,623933331,85,158,200000000
3,Phase One,Thor,2011-05-06,181030624,268295994,449326618,262,268,150000000
4,Phase One,Captain America: The First Avenger,2011-07-22,176654505,193915269,370569774,279,367,140000000

**1.1 Highest Grossing Film Worldwide**

In [461]:
# Index the Highest Grossing Box Office

Highest_Grossing = BOX_OFFICE['Worldwide Box Office'].idxmax()

In [462]:
#Results of highest grossing film name and total worldwide take-in amount
hi_gross_world= BOX_OFFICE['Film'][Highest_Grossing]
hi_gross_box = BOX_OFFICE['Worldwide Box Office'][Highest_Grossing]

In [463]:
print('The Highest Grossing film is {} racking worldwide box office with ${:,}'.format(hi_gross_world, hi_gross_box))

The Highest Grossing film is Avengers: Endgame racking worldwide box office with $2,797,800,564

**1.2 Lowest Grossing Film Worldwide**

In [464]:
# Get Index for lowest grossing film
Lowest_Grossing = BOX_OFFICE['Worldwide Box Office'].idxmin()

In [465]:
#Results of lowest grossing film name and total worldwide take-in amount
lo_gross_world= BOX_OFFICE['Film'][Lowest_Grossing]
lo_gross_box = BOX_OFFICE['Worldwide Box Office'][Lowest_Grossing]

In [466]:
print('The Lowest Grossing film is {}, racking worldwide box office with only ${:,}'.format(lo_gross_world, lo_gross_box))

The Lowest Grossing film is The Incredible Hulk, racking worldwide box office with only $264,770,996

**1.3 Most Expensive MCU Film Ever Made**

In [467]:
# Get highest Budget Film

Highest_Budget = BOX_OFFICE['Budget'].idxmax()

In [468]:
#Results of highest budget film name and budget spent
hi_budget_film= BOX_OFFICE['Film'][Highest_Budget]
hi_budget = BOX_OFFICE['Budget'][Highest_Budget]

In [469]:
print('The Most Expensive film produced to date is {} with and estimated gross budget of ${:,}'.format(hi_budget_film, hi_budget))

The Most Expensive film produced to date is Avengers: Age of Ultron with and estimated gross budget of $444,000,000

**2. RATING**

In [470]:
RATING.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Phase                     30 non-null     object
 1   Film                      30 non-null     object
 2   Critical Rotten Tomatoes  30 non-null     object
 3   Critical Metacritic       30 non-null     object
 4   Public CinemaScore        30 non-null     object
 5   Public PostTrak           30 non-null     object
dtypes: object(6)
memory usage: 1.5+ KB

In [471]:
# rename columns

RATING.rename(columns={'Critical Rotten Tomatoes': 'Rotten Tomatoes Rating',
                       'Critical Metacritic': 'Metacritic Rating',
                       'Public CinemaScore': 'CinemaScore Grade',
                       'Public PostTrak': 'PostTrak Rating', 
                       }, 
                      inplace=True)

In [472]:
#remove '% (XX reviews)' in Rotten Tomatoes

RATING['Rotten Tomatoes Rating'] = RATING['Rotten Tomatoes Rating'].str[:-15]

# remove '% (XX reviews)' in MetaCritic
RATING['Metacritic Rating'] = RATING['Metacritic Rating'].str[:-13]

In [473]:
RATING.head(5)

,Phase,Film,Rotten Tomatoes Rating,Metacritic Rating,CinemaScore Grade,PostTrak Rating
0,Phase One,Iron Man,94,79,A,—
1,Phase One,The Incredible Hulk,67,61,A−,—
2,Phase One,Iron Man 2,71,57,A,—
3,Phase One,Thor,77,57,B+,—
4,Phase One,Captain America: The First Avenger,79,66,A−,—

In [474]:
#remove - and % in PostTrak
RATING['PostTrak Rating'] = RATING['PostTrak Rating'].str.replace('—', '', regex=True)

RATING['PostTrak Rating'] = RATING['PostTrak Rating'].str.replace('%', '', regex=True)

In [475]:
RATING['Rotten Tomatoes Rating'] = pd.to_numeric(RATING['Rotten Tomatoes Rating'])

RATING['Metacritic Rating'] = pd.to_numeric(RATING['Metacritic Rating'])

RATING['PostTrak Rating'] = pd.to_numeric(RATING['PostTrak Rating'])

In [476]:
RATING.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Phase                   30 non-null     object
 1   Film                    30 non-null     object
 2   Rotten Tomatoes Rating  30 non-null     int64
 3   Metacritic Rating       30 non-null     int64
 4   CinemaScore Grade       30 non-null     object
 5   PostTrak Rating         16 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.5+ KB

In [477]:
RATING.tail(5)

,Phase,Film,Rotten Tomatoes Rating,Metacritic Rating,CinemaScore Grade,PostTrak Rating
25,Phase Four,Eternals,47,52,B,78.0
26,Phase Four,Spider-Man: No Way Home,93,71,A+,96.0
27,Phase Four,Doctor Strange in the Multiverse of Madness,74,60,B+,82.0
28,Phase Four,Thor: Love and Thunder,64,57,B+,77.0
29,Phase Four,Black Panther: Wakanda Forever,84,67,A,93.0

**2.1 Highest Rating Film Worldwide**

In [478]:
# Highest Rating Film
Highest_Rating = RATING['Rotten Tomatoes Rating'].idxmax()

In [479]:
#Results of highest rating film name and rotten tomatoes rating
hi_rate_name= RATING['Film'][Highest_Rating]
hi_rate_rot = RATING['Rotten Tomatoes Rating'][Highest_Rating]

In [480]:
print('The Highest Rating film in Rotten Tomatoes is {} with rating of {}%'.format(hi_rate_name, hi_rate_rot))

The Highest Rating film in Rotten Tomatoes is Black Panther with rating of 96%

**2.2 Lowest Rating Film Worldwide**

In [481]:
#Lowest Rating Film

Lowest_Rating = RATING['Rotten Tomatoes Rating'].idxmin()

In [482]:
#Results of Lowest rating film name and rotten tomatoes rating
lo_rate_name= RATING['Film'][Lowest_Rating]
lo_rate_rot = RATING['Rotten Tomatoes Rating'][Lowest_Rating]

In [483]:
print('The Lowest Rating film in Rotten Tomatoes is {} with rating of {}%'.format(lo_rate_name, lo_rate_rot))

The Lowest Rating film in Rotten Tomatoes is Eternals with rating of 47%

**To be continue...**


The goal of this project is to use Dash and Plotly to create an HTML interactive Dashboard

# Install Jupyter Dash

In [484]:
pip install dash

Requirement already satisfied: dash in /opt/conda/lib/python3.7/site-packages (2.7.1)
Requirement already satisfied: dash-core-components==2.0.0 in /opt/conda/lib/python3.7/site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in /opt/conda/lib/python3.7/site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in /opt/conda/lib/python3.7/site-packages (from dash) (5.11.0)
Requirement already satisfied: dash-table==5.0.0 in /opt/conda/lib/python3.7/site-packages (from dash) (5.0.0)
Requirement already satisfied: Flask>=1.0.4 in /opt/conda/lib/python3.7/site-packages (from dash) (2.2.2)
Requirement already satisfied: click>=8.0 in /opt/conda/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in /opt/conda/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (2.2.2)
Requirement already satisfied: itsdangerous>=2.0 in /opt/conda/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (2.1.2)
Requirement already satisfied: Jinja2>=3.0 in /opt/conda/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (3.1.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in /opt/conda/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (4.13.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=3.6.0->Flask>=1.0.4->dash) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=3.6.0->Flask>=1.0.4->dash) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from Jinja2>=3.0->Flask>=1.0.4->dash) (2.1.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [485]:
pip install jupyter_dash -U

Requirement already satisfied: jupyter_dash in /opt/conda/lib/python3.7/site-packages (0.4.2)
Requirement already satisfied: ipython in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (7.33.0)
Requirement already satisfied: ansi2html in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (1.8.0)
Requirement already satisfied: flask in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (2.2.2)
Requirement already satisfied: dash in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (2.7.1)
Requirement already satisfied: retrying in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (1.3.3)
Requirement already satisfied: ipykernel in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (6.15.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (2.28.1)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.7/site-packages (from jupyter_dash) (1.5.5)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from ansi2html->jupyter_dash) (4.13.0)
Requirement already satisfied: plotly>=5.0.0 in /opt/conda/lib/python3.7/site-packages (from dash->jupyter_dash) (5.11.0)
Requirement already satisfied: dash-table==5.0.0 in /opt/conda/lib/python3.7/site-packages (from dash->jupyter_dash) (5.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /opt/conda/lib/python3.7/site-packages (from dash->jupyter_dash) (2.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in /opt/conda/lib/python3.7/site-packages (from dash->jupyter_dash) (2.0.0)
Requirement already satisfied: click>=8.0 in /opt/conda/lib/python3.7/site-packages (from flask->jupyter_dash) (8.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /opt/conda/lib/python3.7/site-packages (from flask->jupyter_dash) (2.1.2)
Requirement already satisfied: Jinja2>=3.0 in /opt/conda/lib/python3.7/site-packages (from flask->jupyter_dash) (3.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /opt/conda/lib/python3.7/site-packages (from flask->jupyter_dash) (2.2.2)
Requirement already satisfied: debugpy>=1.0 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (1.6.0)
Requirement already satisfied: psutil in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (5.9.1)
Requirement already satisfied: matplotlib-inline>=0.1 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (0.1.3)
Requirement already satisfied: traitlets>=5.1.0 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (5.3.0)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (23.2.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (22.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (7.3.4)
Requirement already satisfied: tornado>=6.1 in /opt/conda/lib/python3.7/site-packages (from ipykernel->jupyter_dash) (6.1)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (2.12.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (59.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from ipython->jupyter_dash) (3.0.30)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->jupyter_dash) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->jupyter_dash) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->jupyter_dash) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests->jupyter_dash) (2.1.0)
Requirement already satisfied: six>=1.7.0 in /opt/conda/lib/python3.7/site-packages (from retrying->jupyter_dash) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->ansi2html->jupyter_dash) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->ansi2html->jupyter_dash) (4.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.16->ipython->jupyter_dash) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from Jinja2>=3.0->flask->jupyter_dash) (2.1.1)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.7/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter_dash) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.7/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter_dash) (2.8.2)
Requirement already satisfied: jupyter-core>=4.9.2 in /opt/conda/lib/python3.7/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter_dash) (4.10.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect>4.3->ipython->jupyter_dash) (0.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly>=5.0.0->dash->jupyter_dash) (8.0.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter_dash) (0.2.5)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [486]:
#Restart Kernel to use updated packages

%reset -f

In [500]:
from jupyter_dash import JupyterDash
from dash import html

In [505]:
app = JupyterDash(__name__)
app.layout = html.H2('MCU Dashboard')
app.run_server